<div class="modal-dialog" role="document" style="color: black">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">類別編號查看</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-10">                    
                    <input type="text" class="form-control" name="class_name" id="class_name" placeholder="請輸入類別名稱">
                </div>
                <div class="col-md-2">
                    <a href="javascript:insert_class()" class="btn btn-block btn-primary">新增</a>
                </div>
            </div>
            <br>
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>類別編號</th>
                    <th>類別名稱</th>
                </tr>
            </thead>
            <tbody>
                <tr id="index_tr"></tr>
                {foreach from=$all_class item=class}
                    <tr>
                        <th scope="row">{$class.class_sn}</th>
                        <td>{$class.class_name}</td>
                    </tr>
                {/foreach}
            </tbody>
        </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal">關閉</button>
        </div>
    </div>
</div>
<script>
    function insert_class() {
        if ($("#class_name").val() == '') return;
        $.ajax({
            url: "class.php?op=insert_class_ajax",
            type: "POST",
            data: {
                class_name: $("#class_name").val()
            },
            dataType: "HTML",
            success: function($result) {
                var class_sn   = $result.split('_')[0];
                var class_name = $result.split('_')[1];
                $("#index_tr").after("<tr><th scope=\"row\">" + class_sn + "</th><td>" + class_name + "</td></tr>")
            }
        })
    }
</script>