<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{$system_name}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="plugin/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="style.css">
        <script src="plugin/jquery.min.js"></script>
        <script src="plugin/popper.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" id="head_pill" style="margin-bottom:20px;">
            <a class="navbar-brand" href="index.php" id="home">TFcisNoteWebSite</a>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="nav-item active">
                        <a class="nav-link" href="class.php?op=class_list">類別類表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?op=history">更新歷史</a>
                    </li>
                </ul>
            </div>
            {if $is_user}
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{$user_detail.pic}" alt="{$user_detail.pic}" class="rounded-circle" width="30" height="30">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item">
                            名前：{$user_detail.user_name}
                            <br>
                            権限： {$user_detail.user_right}
                        </div>
                        <div class="dropdown-divider"></div>
                        <a href="index.php?op=post_list" class="dropdown-item" style="color: rgb(0, 105, 217);">回到主頁</a>
                        <a href="user.php?op=user_form&user_sn={$user_detail.user_sn}" class="dropdown-item" style="color: rgb(0, 105, 217);">修改資料</a>
                        {if $is_admin}
                            <div class="dropdown-divider"></div>
                            <a href="user.php?op=user_list" class="dropdown-item" style="color: rgb(28, 224, 71);">使用者列表</a>
                            <a href="post.php?op=post_create" class="dropdown-item" style="color: rgb(28, 224, 71);">發布文章</a>
                            <a href="post.php?op=my_post&user_sn={$now_user_sn}" class="dropdown-item" style="color: rgb(28, 224, 71);">我的文章</a>
                            <a href="class.php?op=class_create" class="dropdown-item" style="color: rgb(28, 224, 71);">新增類別</a>
                            <a href="class.php?op=class_function" class="dropdown-item" style="color: rgb(28, 224, 71)">修改類別</a>
                        {/if}
                        {if $is_top}
                            <div class="dropdown-divider"></div>
                            <a href="webset.php?op=web_setting" class="dropdown-item" style="color: rgb(176, 8, 218);">管理網站</a>
                        {/if}
                        <div class="dropdown-divider"></div>
                        <a href="user.php?op=user_logout" class="dropdown-item" style="color: red;">登出</a>
                    </div>
                </div>
            {else}
                <span>
                    <div class="row">
                        <div>
                            <a href="user.php?op=user_login_page" class="btn btn-block btn-primary">登入</a>
                        </div>
                        &nbsp;&nbsp;
                        <div>                            
                            <a href="user.php?op=user_register" class="btn btn-block btn-warning">註冊</a>
                        </div>
                        &nbsp;&nbsp;
                    </div>
                </span>
            {/if}
        </nav>
        <div class="container">
            <div class="col-md-12">
                {if $op=='post_list'}
                    <div class="col-md-12" style="margin-top: 20px;display: flex;">
                        {include file='post_list.html'}
                    </div>
                {else if $op=='class_display'}
                    <div class="col-md-12" style="margin-top: 20px;display: flex;">
                        {include file='class_display.html'}
                    </div>
                {else if $op=='find_tag'}
                    <div class="col-md-12" style="margin-top: 20px">
                        {include file='find_tag.html'}
                    </div>
                {else}
                    <div class="col-md-7" id="system_main" style="margin:0px auto;">
                        {if $op=='history'}
                            {include file='history.html'}
                        {else if $op=='user_register'}
                            {include file='user_register.html'}
                        {else if $op=='user_form'}
                            {include file='user_form.html'}
                        {else if $op=='user_list'}
                            {include file='user_list.html'}
                        {else if $op=='user_login_page'}
                            {include file='user_login_page.html'}
                        {else if $op=="my_post"}
                            {include file='my_post.html'}
                        {else if $op=="post_create"}
                            {include file='post_create.html'}
                        {else if $op=='post_display'}
                            {include file='post_display.html'}
                        {else if $op=='post_form'}
                            {include file='post_form.html'}
                        {else if $op=='add_tag'}
                            {include file='add_tag.html'}
                        {else if $op=='cmt_form'}
                            {include file='cmt_form.html'}
                        {else if $op=="search_result"}
                            {include file='search_result.html'}
                        {else if $op=="web_setting"}
                            {include file='web_setting.html'}
                        {else if $op=="webset_bg"}
                            {include file="webset_bg.html"}
                        {else if $op=='tag_list'}
                            {include file='tag_list.html'}
                        {else if $op=='class_create'}
                            {include file='class_create.html'}
                        {else if $op=='class_list'}
                            {include file='class_list.html'}
                        {else if $op=='class_function'}
                            {include file='class_function.html'}
                        {/if}
                    </div>
                {/if}
            </div>
        </div>
        <div class="waifu" class="pull-right">
            <div class="waifu-tips"></div>
            <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
            <div class="waifu-tools" style="font-size: 14px;text-align: center;display: none;">
                <a href="index.php" style="color: rgb(72, 194, 241);"><i class="fas fa-home"></i></a>
                <a href="javascript:void(0)" style="color: rgb(72, 194, 241);" id="fa-times"><i class="fas fa-times"></i></a>
            </div>
        </div>
        <div id="system_foot">
            <div class="row">
                <div class="col-md-2">TFcis20 Note Web</div>
            </div>
        </div>
    </body>
    <script async src="plugin/live2d/waifu-tips.js"></script>
    <script src="plugin/live2d/live2d.js"></script>
    <script>
        var page_cookie = document.cookie;
        if (page_cookie.match('live2d_close') == null) {
            loadlive2d("live2d", "plugin/Pio/model.json");
        } else {
            $(".waifu").css("display", "none");
        }
        $("#fa-times").click(function() {
            document.cookie = "live2d_close=true;path=/";
            $(".waifu").css("display", "none");
        });
        $('.waifu').mouseover(function() {
            $('.waifu-tools').css('display', 'block');
        });
        $('.waifu').mouseout(function() {
            $('.waifu-tools').css('display', 'none');
        });
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
        });
    </script>
    <script>
        var height = $(window).height();
        $(".container").css("min-height", height);
    </script>
    <script>
        var target = 0;
        $(window).keydown(function(event) {
            var key = event.which;
            var judge = false;
            if (target == 12) {
                anone();
            } else {
                switch (key) {
                    case 38:
                        if (target == 0) {
                            target = 1;
                        } else if (target == 1) {
                            target = 2;
                        } else {
                            target = 0;
                        }
                        break;

                    case 40:
                        if (target == 2) {
                            target = 3;
                        } else if (target == 3) {
                            target = 4;
                        } else {
                            target = 0;
                        }
                        break;

                    case 37:
                        if (target == 4) {
                            target = 5;
                        } else if (target == 6) {
                            target = 7;
                        } else {
                            target = 0;
                        }
                        break;

                    case 39:
                        if (target == 5) {
                            target = 6;
                        } else if (target == 7) {
                            target = 8;
                        } else {
                            target = 0;
                        }
                        break;

                    case 66:
                            if (target == 8) {
                                target = 9;
                            } else if (target == 10) {
                                target = 11;
                            } else if (target < 12) {
                                target = 0;
                            }
                            break;

                    case 65:
                        if (target == 9) {
                            target = 10;
                        } else if (target == 11) {
                            target = 12;
                            anone();
                        } else if (target < 12) {
                            target = 0;
                        } else if (target == 12) {
                            anone();
                        }
                        break;
                    
                    default:
                        target = 0;
                        break;
                }
            }
        });
        function anone () {
            $(".anone").css("display", "block");
            d = document; 
            s = d.createElement('script'); 
            s.src = 'plugin/anone.js'; 
            b = d.getElementsByTagName('body')[0]; 
            b.appendChild(s);
        }
    </script>
</html>