<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{$system_name}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="plugin/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="style.css">
        <script src="plugin/jquery.min.js"></script>
        <script src="plugin/popper.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function(){
                window.setInterval(getTime, 1000)
                function getTime() {
                    var today = new Date();
                    var currentDateTime =
                    today.getFullYear() + ' 年 ' +
                    (today.getMonth()+1) + ' 月 ' +
                    today.getDate() + ' 日 ' +
                    today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds();
                    $("#date").html(currentDateTime);
                }
                $('.waifu').mouseover(function() {
                    $('.waifu-tools').css('display', 'block');
                });
                $('.waifu').mouseout(function() {
                    $('.waifu-tools').css('display', 'none');
                });
                var sc_width = $(window).width;
            });
        </script>
    </head>
    <body>
        <nav class="navbar navbar-dark" id="head_pill">
            <a class="navbar-brand" href="index.php" id="home">ARASIのストーリー</a>
            <span id="date"></span>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                {if $op=='post_list'}
                    <div class="col-md-7" style="margin-top: 20px">
                        {include file='post_list.html'}
                    </div>
                {else if $op=='find_tag'}
                    <div class="col-md-7" style="margin-top: 20px">
                        {include file='find_tag.html'}
                    </div>
                {else}
                    <div id="system_main" class="col-md-7">
                        {if isset($msg)}
                            <div class="text-danger bg-danger">{$msg}</div>
                        {/if}
                        {if $op=='history'}
                            {include file='history.html'}
                        {else if $op=='user_register'}
                            {include file='user_register.html'}
                        {else if $op=='user_form'}
                            {include file='user_form.html'}
                        {else if $op=='user_list'}
                            {include file='user_list.html'}
                        {else if $op=="post_create"}
                            {include file='post_create.html'}
                        {else if $op=='post_display'}
                            {include file='post_display.html'}
                        {else if $op=='post_form'}
                            {include file='post_form.html'}
                        {else if $op=='cmt_form'}
                            {include file='cmt_form.html'}
                        {else if $op=="search_result"}
                            {include file='search_result.html'}
                        {else if $op=="web_setting"}
                            {include file='web_setting.html'}
                        {else if $op=="webset_bg"}
                            {include file="webset_bg.html"}
                        {/if}
                    </div>
                {/if}
                <div class="col-md-3" id="system_side">
                    <div class="col-md=12" id="user_area">
                        {if $is_user}
                            {include file='user_datail.html'}
                        {else}
                            {include file='user_login.html'}
                        {/if}
                    </div>
                    <div class="col-md-12" id="search">
                        {include file='search.html'}
                    </div>
                    <div class="col-md-12" id="self">
                        {include file='self.html'}
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="waifu justify-content-end" class="pull-right">
            <div class="waifu-tips"></div>
            <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
            <div class="waifu-tools" style="font-size: 14px;text-align: center;display: none;">
                <a href="index.php" style="color: rgb(72, 194, 241);"><i class="fas fa-home"></i></a>
                <a href="javascript:void(0)" style="color: rgb(72, 194, 241);" id="fa-times"><i class="fas fa-times"></i></a>
            </div>
        </div>
        <div id="system_foot">
            <div class="row">
                <div class="col-md-2">TFcis20 Note Web</div>
            </div>
        </div>
    </body>
    <script async src="plugin/live2d/waifu-tips.js"></script>
    <script src="plugin/live2d/live2d.js"></script>
    <script>
        loadlive2d("live2d", "plugin/Pio/model.json");
        $("#fa-times").click(function() {
            $(".waifu").css("display", "none");
        });
    </script>
    <script>
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
        });
    </script>
</html>