<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{$system_name}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="plugin/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="style.css">
        <script src="plugin/jquery.min.js"></script>
        <script src="plugin/popper.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark" id="head_pill" style="margin-bottom:20px;">
            <a class="navbar-brand" href="index.php" id="home">ARASIのストーリー</a>
            {if $is_user}
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{$user_detail.pic}" alt="{$user_detail.pic}" class="rounded-circle" width="30" height="30">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item">
                            名前：{$user_detail.user_name}
                            <br>
                            権限： {$user_detail.user_right}
                        </div>
                        <div class="dropdown-divider"></div>
                        <a href="index.php?op=post_list" class="dropdown-item" style="color: rgb(0, 105, 217);">回到主頁</a>
                        <a href="user.php?op=user_form&user_sn={$user_detail.user_sn}" class="dropdown-item" style="color: rgb(0, 105, 217);">修改資料</a>
                        {if $is_admin}
                            <div class="dropdown-divider"></div>
                            <a href="user.php?op=user_list" class="dropdown-item" style="color: rgb(33, 136, 56);">使用者列表</a>
                            <a href="post.php?op=post_create" class="dropdown-item" style="color: rgb(33, 136, 56);">發布文章</a>
                            <a href="tag.php?op=tag_list" class="dropdown-item" style="color: rgb(33, 136, 56)">類別總表</a>
                        {/if}
                        {if $is_top}
                            <div class="dropdown-divider"></div>
                            <a href="webset.php?op=web_setting" class="dropdown-item" style="color: rgb(176, 8, 218);">管理網站</a>
                        {/if}
                        <div class="dropdown-divider"></div>
                        <a href="user.php?op=user_logout" class="dropdown-item" style="color: red;">登出</a>
                    </div>
                </div>
            {else}
                <span>
                    <a href="user.php?op=user_login_page" class="btn btn-block btn-primary">登入</a>
                </span>
            {/if}
        </nav>
        <div class="container">
            <div class="col-md-12">
                {if $op=='post_list'}
                    <div class="col-md-12" style="margin-top: 20px;">
                        {include file='post_list.html'}
                    </div>
                {else if $op=='find_tag'}
                    <div class="col-md-12" style="margin-top: 20px">
                        {include file='find_tag.html'}
                    </div>
                {else}
                    <div class="col-md-7" id="system_main" style="margin:0px auto;">
                        {if $op=='history'}
                            {include file='history.html'}
                        {else if $op=='user_register'}
                            {include file='user_register.html'}
                        {else if $op=='user_form'}
                            {include file='user_form.html'}
                        {else if $op=='user_list'}
                            {include file='user_list.html'}
                        {else if $op=='user_login_page'}
                            {include file='user_login_page.html'}
                        {else if $op=="post_create"}
                            {include file='post_create.html'}
                        {else if $op=='post_display'}
                            {include file='post_display.html'}
                        {else if $op=='post_form'}
                            {include file='post_form.html'}
                        {else if $op=='add_tag'}
                            {include file='add_tag.html'}
                        {else if $op=='cmt_form'}
                            {include file='cmt_form.html'}
                        {else if $op=="search_result"}
                            {include file='search_result.html'}
                        {else if $op=="web_setting"}
                            {include file='web_setting.html'}
                        {else if $op=="webset_bg"}
                            {include file="webset_bg.html"}
                        {else if $op=='tag_list'}
                            {include file='tag_list.html'}
                        {/if}
                    </div>
                {/if}
            </div>
        </div>
        <div class="waifu" class="pull-right">
            <div class="waifu-tips"></div>
            <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
            <div class="waifu-tools" style="font-size: 14px;text-align: center;display: none;">
                <a href="index.php" style="color: rgb(72, 194, 241);"><i class="fas fa-home"></i></a>
                <a href="javascript:void(0)" style="color: rgb(72, 194, 241);" id="fa-times"><i class="fas fa-times"></i></a>
            </div>
        </div>
        <div id="system_foot">
            <div class="row">
                <div class="col-md-2">TFcis20 Note Web</div>
            </div>
        </div>
    </body>
    <script async src="plugin/live2d/waifu-tips.js"></script>
    <script src="plugin/live2d/live2d.js"></script>
    <script>
        loadlive2d("live2d", "plugin/Pio/model.json");
        $("#fa-times").click(function() {
            $(".waifu").css("display", "none");
        });
        $('.waifu').mouseover(function() {
            $('.waifu-tools').css('display', 'block');
        });
        $('.waifu').mouseout(function() {
            $('.waifu-tools').css('display', 'none');
        });
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
        });
    </script>
    <script>
        var height = $(window).height();
        $(".container").css("min-height", height);
    </script>
</html>