{if isset($all_post) and $all_post != ''}
    {if $is_admin}
        <h1>我的文章</h1>
        <br>
        <table class="table table-striped" style="table-layout: fixed;word-wrap: break-word;word-break: break-all;">
            <thead>
                <tr>
                    <th width="20%">文章編號</th>
                    <th width="50%">文章名稱</th>
                    <th width="30%">發布日期</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$all_post item=post}
                    <tr>
                        {if $post.post_display == 'hide'}
                            <th scope="row" style="background-color: rgb(226, 151, 11);"><a href="post.php?op=post_display&post_sn={$post.post_sn}">{$post.post_sn}</a></th>
                            <td style="background-color: rgb(226, 151, 11);">{$post.post_title}</td>
                            <td style="background-color: rgb(226, 151, 11);">{$post.post_date}</td>
                        {else}
                            <th scope="row"><a href="post.php?op=post_display&post_sn={$post.post_sn}">{$post.post_sn}</a></th>
                            <td>{$post.post_title}</td>
                            <td>{$post.post_date}</td>
                        {/if}
                    </tr>
                {/foreach}
            </tbody>
        </table>
    {/if}
{/if}