<link rel="stylesheet" href="plugin/prism/prism.css">
<script src="plugin/prism/prism.js"></script>
<div class="row">
<div class="col-md-10" style="word-break:break-all;">
        <h1>{$post.post_title}</h1>
    </div>
    {if $is_top or isset($now_user_sn) and $now_user_sn == $post.user_sn}
        <div class="col-md-2">
            <div class="dropdown show">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    功能選單
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="post.php?op=post_form&post_sn={$post.post_sn}" class="dropdown-item">編輯文章</a>
                    <a href="javascript:delete_post('{$post.post_sn}')" class="dropdown-item">刪除文章</a>
                </div>
            </div>
        </div>
    {/if}
</div>
<br>
{if $post.post_content != ''}
    <div>{$post.post_content}</div>
{else}
    <div>
        <p class="text-danger">這篇文章是空白的喔</p>
    </div>
    <pre style="color: white;">
　　　　　 ♪∧,,∧
　　　♪∧,,∧・ ω・)
　∧,,∧・ ω・)　　 )っ
(・ ω・)　　 )っ＿_フ
(っ　　)っ＿_フ(_/彡
　( ＿_フ(_/彡
　 (_/彡♪

屁屁攻擊!!!

　   ∧_∧
=≡( ･ω･)  ∧_∧ ,;
　 ⊂⊂ニ  );)д｀)∵
-=≡ (_(_／⊂　Ｏ)
　　　   　'/　 ヽ
　　　   　∪￣＼)"
    </pre>
{/if}
<br>
<div class="col-md-12" style="color: greenyellow">
    <div class="row">   
        <i class="fas fa-user">{$post.post_owner}</i>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fas fa-clock"> {$post.post_date}</i>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fas fa-users">瀏覽人數：{$post.post_counter}</i>
    </div>
</div>
<br>
<i class="fas fa-tag" style="color: rgba(161, 11, 190, 0.877)">標籤</i>
<br>
<br>
<div class="row">
&nbsp;&nbsp;
{foreach from=$post.tag item=tag}
    {if $tag != ''}
        <div class="rounded" style="background-color: rgb(247, 176, 25);padding-right: 5px;padding-left: 5px;margin-bottom: 10px;">
            {$tag}
        </div>
        &nbsp;&nbsp;
    {/if}
{/foreach}
</div>
<br>
<h1>留言區</h1>
{if isset($post.cmt) and $post.cmt != ''}
    {foreach from=$post.cmt item=cmt}
        <div class="row">
            <div class="col-md-1">
                <img src="{$cmt.user_pic}" alt="{$cmt.user_sn}" class="rounded" style="width: 50px">
            </div>
            <div class="col-md-8">
                <i class="fas fa-clock" style="color: rgb(25, 252, 252)">&nbsp;{$cmt.cmt_date}</i>
                <br>
                {$cmt.user_name}說：
                <div style="word-wrap: break-word;" id="cmt_{$cmt.cmt_sn}">{$cmt.cmt_content}</div>
            </div>
            <div class="col-md-3">
                {if $is_admin or isset($now_user_sn) and $now_user_sn=={$cmt.user_sn}}
                <div class="dropdown show">
                    <a href="#" class="btn btn-secondary dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        功能表
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:delete_cmt('{$cmt.cmt_sn}', '{$post.post_sn}')" class="dropdown-item">刪除留言</a>
                        <a href="cmt.php?op=cmt_form&cmt_sn={$cmt.cmt_sn}&post_sn={$post.post_sn}" class="dropdown-item">編輯留言</a>
                    </div>
                </div>
                {/if}
                <div>
                    <br>
                    {if $is_user}
                        <a href="javascript:reply('{$cmt.cmt_sn}', '{$cmt.post_sn}')" id="reply_href_{$cmt.cmt_sn}">
                            <i class="fas fa-reply" style="color: rgb(14, 243, 14)"> 回覆</i>
                        </a>
                    {else}
                        <i class="fas fa-reply" style="color: rgb(14, 243, 14)"> 登入後回覆</i>
                    {/if}
                </div>
            </div>
        </div>
        {if isset($cmt.reply) and $cmt.reply != ''}
            {foreach from=$cmt.reply item=reply}
                <br>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <img src="{$reply.user_pic}" alt="{$reply.user_sn}" class="rounded" style="width: 50px;">
                    </div>
                    <div class="col-md-7">
                        <i class="fas fa-clock" style="color: rgb(248, 244, 7)">{$reply.cmt_date}</i>
                        <br>
                        {$reply.user_name}回覆說：
                        <div style="word-wrap: break-word;" id="cmt_{$reply.cmt_sn}">{$reply.cmt_content}</div>
                    </div>
                    <div class="col-md-3">
                        {if $is_top or isset($now_user_sn) and $now_user_sn=={$reply.user_sn}}
                            <div class="dropdown show">
                                <a href="#" class="btn btn-secondary dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    功能表
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="javascript:delete_cmt('{$reply.cmt_sn}', '{$post.post_sn}')" class="dropdown-item">刪除留言</a>
                                    <a href="cmt.php?op=cmt_form&cmt_sn={$reply.cmt_sn}&post_sn={$post.post_sn}" class="dropdown-item">編輯留言</a>
                                </div>
                            </div>
                        {/if}
                    </div>
                </div>
            {/foreach}
        {/if}
        <br>
        <div class="col-md-12" id="{$cmt.cmt_sn}"></div>
        <hr>
    {/foreach}
{else}
    &nbsp;<div>暫時還沒有留言喔QAqqqqq</div>
{/if}
<br>
<div class="col-md-12" id="cmt_box">
    <h1>發表回響</h1>
    {if $is_user}
        <form action="cmt.php" method="POST" class="form-horizontal" role="form">
            <div class="form-group">
                <textarea class="form-control" name="cmt_content" id="cmt_content" placeholder="發表回響"></textarea>
            </div>
            <input type="hidden" name="op" value="insert_cmt">
            <input type="hidden" name="post_sn" value="{$post.post_sn}">
            <button type="submit" class="btn btn-primary">發表</button>
        </form>
    {else}
        <div>請先登入!</div>
    {/if}
</div>
<script src="plugin/bootstrap-sweetalert/sweet-alert.min.js"></script>
<link rel="stylesheet" type="text/css" href="plugin/bootstrap-sweetalert/sweet-alert.css">
<script>
    function delete_post(post_sn) {
        swal({
                title: "刪除文章",
                text: "將永久刪除該篇文章",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "確認",
                closeOnConfirm: false,
            },
            function () {
                location.href = "post.php?op=delete_post&post_sn=" + post_sn;
                swal("刪除完畢", "後悔來不及了030", "success");
            });
    }
</script>
<script>
    function delete_cmt(cmt_sn, post_sn) {
        swal({
                title: "刪除留言",
                text: "將永久刪除該則留言",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "確認",
                closeOnConfirm: false,
            },
            function () {
                location.href = "cmt.php?op=delete_cmt&cmt_sn=" + cmt_sn + "&post_sn=" + post_sn;
                swal("刪除完畢", "後悔來不及了030", "success");
            });
    }
</script>
<script>
    function reply(cmt_sn ,post_sn) {
        $("#" + cmt_sn).append("<form action=\"cmt.php\" method=\"POST\" role=\"form\"><div class=\"form-group\"><textarea class=\"form-control\" name=\"cmt_content\" placeholder=\"回覆留言\"></textarea></div><input type=\"hidden\" name=\"op\" value=\"cmt_reply\"><input type=\"hidden\" name=\"post_sn\" value=\"" + post_sn + "\"><input type=\"hidden\" name=\"cmt_sn\" value=\"" + cmt_sn +"\"><button type=\"submit\" class=\"btn btn-primary\">回覆</button></form>")
        $("#reply_href_" + cmt_sn).attr("href", "javascript:toggle(" + cmt_sn + ")");
    }
    function toggle(cmt_sn) {
        $("#" + cmt_sn).toggle();
    }
</script>
<script>
    place = location.hash;
    console.log(place);
    if (place != '') {
        target = place.replace("#", '');
        var target_top = $("#cmt_" + target).offset().top;
        $('html, body').scrollTop(target_top);
    }
</script>