<script src="plugin/lazyload.min.js"></script>
<div class="row" style="align-items: center;justify-content: center;">
    {foreach from=$all_post item=post}
        <div class="col-md-3" style="background-color: rgba(0, 0, 0, 0.7);margin-bottom: 20px;padding: 20px;margin-right: 20px;min-height: 350px">
            <div class="col-md-12">
                <a href="post.php?op=post_display&post_sn={$post.post_sn}">
                    <h4 style="font-style: oblique;" data-toggle="tooltip" data-placement="left" title="{$post.post_title}">
                        <div style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">{$post.post_title}</div>
                    </h4>
                </a>
            </div>
             <div class="col-md-12">
                <center>
                    <a href="post.php?op=post_display&post_sn={$post.post_sn}">
                        <img src="./img/load.gif" alt="{$post.post_sn}" class="img-thumbnail lazyload" data-src="{$post.pic}">
                    </a>
                </center>
            </div>
            <br>
            <div class="col-md-12" style="color: greenyellow">
                <i class="fas fa-user-tag">{$post.post_owner}</i>
                <br>
                <i class="fas fa-clock">{$post.post_date}</i>
                <br>
                <i class="fas fa-users">瀏覽人數：{$post.post_counter}</i>
            </div>
        </div>
    {/foreach}
    <div class="col-md-12 row" style="align-items: center;justify-content: center;">
        <center>
            {$bar}
        </center>
    </div>
</div>
<script>
    $(".lazyload").lazyload({
        placeholder: "./img/load.gif"
    });
</script>