<script src="plugin/lazyload.min.js"></script>
<div class="row" style="align-items: center;justify-content: center;">
    {foreach from=$all_post item=post}
        <div class="col-md-3" style="background-color: rgba(0, 0, 0, 0.7);margin-bottom: 20px;padding: 20px;margin-right: 20px;">
            <div class="col-md-12">
                <a href="post.php?op=post_display&post_sn={$post.post_sn}"><h4 style="font-style: oblique;">{$post.post_title}</h4></a>
            </div>
             <div class="col-md-12">
                <center>
                    <a href="post.php?op=post_display&post_sn={$post.post_sn}">
                        <img src="img/load.gif" alt="{$post.post_sn}" class="img-thumbnail lazyload" data-src="{$post.pic}">
                    </a>
                </center>
            </div>
            <br>
            <div class="col-md-12" style="color: greenyellow">
                <div class="row">
                    <i class="fas fa-clock">{$post.post_date}</i>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fas fa-users">瀏覽人數：{$post.post_counter}</i>
                </div>
            </div>
        </div>
    {/foreach}
    <br>
</div>
<script>
    $(".lazyload").lazyload();
</script>
<!-- <script type="text/javascript">
    GetRumdomStr = function () {
        var str = "";
        var maxNum = 10;
        var minNum = 0;
        var n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;
        for (var i = 1; i <= 50; i++) {
            n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;
            str += n.toString();
        }
        return str;
    };

    $(document).ready(function () {
        $('img').hide(); //先把所有圖片先隱藏
        var ImgCount = $('img').length; //取得圖片的個數
        $('img').each(function () {
            var str = GetRumdomStr(); //請忽略,讓圖片加隨機亂數,視為模擬未曾下載過的圖片
            var url = $(this).attr("src");
            $(this).attr("src", url + "?" + str);

            function ImageLoading() {
                msg = "Image ID : " + this.id + "....done";
                console.log(msg);
                $('#msg').append("<div>" + msg + "</div>");
                $(this).fadeIn(2000);
                ImgCount--;
                if (ImgCount === 0) {
                    console.log("All images Loaded..");
                }
            }

            if ($(this).complete) {
                imageLoaded.call(this);
            } else {
                $(this).one('load', ImageLoading);
            }
        });
    });
</script> -->