<form action="post.php" method="POST" role="form">
    <div class="input-group">
        <input name="keyword" type="text" class="form-control" placeholder="請輸入關鍵字" aria-label="請輸入關鍵字" aria-describedby="basic-addon">
        <div class="input-group-append">
            <input type="hidden" name="op" value="search_result">
            <button type="submit" class="btn btn-outline-primary">搜尋</button>
        </div>
    </div>
    <br>
    <div class="form-group">
        <select class="form-control" name="target" id="target">
            <option value="post_title">搜索文章</option>
            <option value="user_name">搜索作者</option>
        </select>
    </div>
</form>