{if $is_admin}
    <div>
        <label class="col-md-4 control-label">搜尋標籤</label>
        <div class="input-group col-md-8">
            <input type="text" class="form-control" name="tag_search" id="tag_search" placeholder="請輸入標籤名稱">
            <div class="input-group-append">
                <a href="javascript:serach_tag()" class="btn btn-outline-info">搜尋</a>
            </div>
        </div>
        <br>
        <label class="col-md-4 control-label">標籤編號</label>
        <div class="col-md-8">
            <input type="text" class="form-control" name="tag_names" id="tag_names" placeholder="這裡會顯示你選擇的標籤的編號" readonly>
        </div>
    </div>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 30%;">標籤編號</th>
                <th style="width: 30%;">標籤名稱</th>
                <th style="width: 40%;">標籤操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"></th>
                <td>
                    <input type="text" name="tag_name" id="tag_name" placeholder="請輸入標籤名稱">
                </td>
                <td><a href="javascript:add_tag()" class="btn btn-bloco btn-primary">新增</a></td>
            </tr>
            <style id="search_result"></style>
            <tr id="locate" style="display:none"></tr>
            {foreach from=$all_tag item=tag}
                <tr class="arashi" id="tag_{$tag.tag_sn}" data-title=" {$tag.tag_name}">
                    <th scope="row">{$tag.tag_sn}</th>
                    <td><input type="text" name="{$tag.tag_name}" id="{$tag.tag_sn}" placeholder="請輸入標籤名稱" value="{$tag.tag_name}"></td>
                    <td class="row">
                        &nbsp;&nbsp;&nbsp;
                        <a href="javascript:update_tag('{$tag.tag_sn}')" style="color: rgb(48, 211, 240);display: block;"><i class="fas fa-edit">編輯</i></a>
                        &nbsp;
                        <a href="javascript:delete_tag('{$tag.tag_sn}')" style="color: red;display: block;"><i class="fas fa-backspace">刪除</i></a>
                        &nbsp;
                        <a href="javascript:insert_tag('{$tag.tag_sn}')" id="insert_{$tag.tag_sn}" style="color:rgb(72, 230, 72);display: block;"><i class="fas fa-plus-circle">新增</i></a>
                        &nbsp;
                        <a href="javascript:remove_tag('{$tag.tag_sn}')" id="remove_{$tag.tag_sn}" style="color: rgb(224, 52, 224);display: none;"><i class="fas fa-minus-circle">移除</i></a>
                    </td>
                </tr>
            {/foreach}
        </tbody>
    </table>
{/if}
<script>
    function add_tag() {
        var tag_content = $("#tag_name").val();
        if (tag_content == '') {
            alert("請不要留空");
            return;
        }
        $.ajax({
            url: "tag.php?op=add_tag",
            data: {
                tag_name: tag_content
            },
            type: "POST",
            dataType: "HTML",
            success: function($result) {
                $add_tag_result = $result.charAt(0);
                var string = $result.split('_', 3);
                if ($add_tag_result == 'r') {
                    alert('重複標籤><');
                } else if ($add_tag_result == 't') {
                    $("#locate").after("<tr class=\"arashi\" id=\"tag_ " + string[1] +"\" data-index=\"" + string[2] +"\"><th scope=\"row\">" + string[1] +"</th><td><input type=\"text\" name=\"" + string[2] + "\" id=\"" + string[1] +"\" placeholder=\"請輸入標籤名稱\" value=\"" + string[2] + "\"></td><td class=\"row\">&nbsp;&nbsp;&nbsp;<a href=\"javascript:update_tag('" + string[1] + "')\" style=\"color: rgb(48, 211, 240);\"><i class=\"fas fa-edit\">編輯</i></a>&nbsp;<a href=\"javascript:delete_tag('" + string[1] +"')\" style=\"color: red;\"><i class=\"fas fa-backspace\">刪除</i></a> </td></tr>");
                }
            }
        });
    }
    function update_tag(tag_sn) {
        var tag_name = $("#" + tag_sn).val();
        $.ajax({
            url: "tag.php?op=update_tag",
            data: {
                tag_sn: tag_sn,
                tag_name: tag_name
            },
            type: "POST",
            dataType: "HTML",
            success: function($result) {
                $update_tag_result = $result.charAt(0);
                if ($update_tag_result == 'r') {
                    alert("標籤重複惹OuO");
                } else if ($update_tag_result == 't') {
                    $("#" + tag_sn).attr("value", '');
                    $("#" + tag_sn).attr("value", tag_name);
                    alert("成功更改");
                }
            }
        });
    }
    function delete_tag(tag_sn) {
        $.ajax({
            url: "tag.php?op=delete_tag",
            data: {
                tag_sn: tag_sn
            },
            type: "POST",
            dataType: "HTML",
            success: function($result) {
                $delete_tag_result = $result.charAt(0);
                if ($delete_tag_result == 't') {
                    $("#tag_" + tag_sn).remove();
                } else if ($delete_tag_result == 'e') {
                    alert('你不能刪除一個不存在的元素(ㄏ￣▽￣)ㄏ   ㄟ(￣▽￣ㄟ)');
                }
            }
        })
    }
    function insert_tag(tag_sn) {
        $("#tag_names").val($("#tag_names").val() + tag_sn + ';');
        $("#insert_" + tag_sn).css("display", "none");
        $("#remove_" + tag_sn).css("display", "block");
    }
    function remove_tag(tag_sn) {
        var target = $("#tag_names").val();
        remove_target = new RegExp(tag_sn + ';' );
        target = target.replace(remove_target, "");
        $("#tag_names").val(target);
        $("#insert_" + tag_sn).css("display", "block");
        $("#remove_" + tag_sn).css("display", "none");
    }
</script>
<script>
    $("#tag_search").on("keyup change paste", function() {
        var target = $(this).val();
        if (!target) {
            $("#search_result").html("");
        } else {
            $("#search_result").html(".arashi:not([data-title*= \"" + target.toLowerCase() + "\"]) { display: none; }");
        }
    })
</script>