<head>
    <meta charset="utf-8" />
    <script src="../plugin/jquery.min.js"></script>
    <script src="../plugin/popper.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
</head>
<div class="btn-group">
    <button type="button" class="btn btn-primary">Action</button>
    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/arashi/post.php?g2p=1">第1頁</a>
        <a class="dropdown-item" href="/arashi/post.php?g2p=2">第2頁</a>
                <a class="dropdown-item" href="/arashi/post.php?g2p=3">第一頁</a>
        <a class="dropdown-item" href="/arashi/post.php?g2p=4">第4頁</a>
        <a class="dropdown-item" href="/arashi/post.php?g2p=5">第5頁</a>
        <a class="dropdown-item" href="/arashi/post.php?g2p=6">第6頁</a>
    </div>
</div>