<h1>使用者登入</h1>
<form action="user.php" method="post" role="form">
    <div class="form-group">
        <label class="col-form-label">帳號</label>
        <div class="col-md-6">
            <input type="text" class="form-control" name="user_id" id="user_id" placeholder="請輸入帳號">
        </div>
    </div>
    <div class="form-group">
        <label class="col-form-label">密碼</label>
        <div class="col-md-6">
            <input type="password" class="form-control" name="user_pw" id="user_pw" placeholder="請輸入密碼">
        </div>
    </div>
    <span id="login_result"></span>
</form>
<div class="col-md-2">
    <button type="button" onclick="user_login()" class="btn btn-block btn-warning">登入</button>
</div>
<script>
    $(window).keydown(function(event) {
        if (event.which == 13) user_login();
    })
    function user_login() {
        $.ajax({
            url: "user.php?op=user_login",
            type: "POST",
            data: {
                user_id: $("#user_id").val(),
                user_pw: $("#user_pw").val()
            },
            dataType: "HTML",
            success: function($login_result) {
                $result = $login_result.charAt(0);
                if ($result == 's') {
                    $("#login_result").html("<p class='text-success'>login successful</p>")
                    document.location.href="index.php";
                } else {
                    $("#login_result").html("<p class='text-danger'>login faild</p>")
                }
            }
        })
    }
</script>