{if $is_admin}
    <h1>使用者列表</h1>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>使用者姓名</th>
                <th>使用者帳號</th>
                <th>使用者信箱</th>
                <th>使用者權限</th>
            </tr>
        </thead>
        {foreach from=$all_user item=user}
            <tbody>
                <tr>
                    <th scope="row"><a href="user.php?op=user_form&user_sn={$user.user_sn}">{$user.user_name}</a></th>
                    <td>{$user.user_id}</td>
                    <td>{$user.user_email}</td>
                    <td>{$user.user_right}</td>
                </tr>
            </tbody>
        {/foreach}
    </table>
{/if}